* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "montserrat", sans-serif;
}

body {
  background-color: rgba(175, 175, 175, 0.755);
  min-height: 100vh;
  
}

header {
  background-color: gray;
  color: white;
  padding: 3rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
}
header h1 {
  text-align: center;
  font-size: 4rem;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.container .resultado, button{
  margin: 50px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace  ;
}
.container article {
  transition: box-shadow 0.3s ease;
  background-color: rgb(167, 159, 149);
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
  border: 1px solid #ff9100;
}
.container article p, .container article h2 {
  margin: 1rem;
}
.container article:hover {
  box-shadow: 0px 1rem 4rem rgba(0, 0, 0, 0.3);
}
.container .post-1 {
  border-color: #8c540a;
}
.container .post-2 {
  border-color: #ff9100;
}
.container .post-3 {
  border-color: #00ffff;
}
button{
  width: 30%;
  margin: 100px;
  height: 100px;
  font-size: 30px;
}

footer {
  background-color: rgb(59, 59, 59);
  padding: 3rem;
  color: white;
}
footer section {
  float: right;
}
footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
footer a:hover {
  color: cornflowerblue;
}



